@use "../abstracts/variables" as v;

#hero-banner {
    margin-top: 50px;
}

#overview {
    position: relative;
    text-align: center;
    font-family: v.$header-font;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px;

    #grin-face {
        position: absolute;
        width: 50px;
        top: -50px;
        left: 50%;
        margin-left: -25px;
    }

    #heart-face {
        position: absolute;
        width: 30px;
        top: -20px;
        left: 50%;
        margin-left: -70px;
        rotate: -30deg;
    }

    #smile-face {
        position: absolute;
        width: 30px;
        top: -20px;
        right: 50%;
        margin-right: -70px;
        rotate: 30deg;
    }

    #overview-cont {
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: rgb(54, 54, 54);
        margin-bottom: 5px;

        span {
        background: -webkit-linear-gradient(rgb(184, 0, 240), rgb(0, 106, 228));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        }
    }
}

.feat-carousel-cont {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background-color: rgb(34, 34, 34);
    background-size: cover;

    .f-carousel {
        display: flex;
        gap: 20px;
        will-change: transform;
    }
}

#tech-specs {
    background-color: rgb(250, 250, 250);
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        font-size: v.$title;
        margin-bottom: 20px;
    }

    #tech-details {
        font-family: v.$body-font;
        font-size: v.$bodycopy;
        font-weight: 400;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    #smile-sunglass {
        width: 50px;
    }

    img {
        border-radius: 20px;
        margin: 20px auto;
    }
}

#x-ray-cont {
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        font-size: v.$title;
        text-align: end;
        margin-bottom: 20px;
    }

    #eyes-emoji {
        width: 50px;
    }
}

@media screen and (min-width: 768px) {
    #overview {
        margin-top: 125px;
        margin-bottom: 50px;
        padding-top: 200px;
        padding-bottom: 200px;

        #grin-face {
            position: absolute;
            width: 80px;
            top: 80px;
            left: 50%;
            margin-left: -40px;
        }
    
        #heart-face {
            position: absolute;
            width: 50px;
            top: 120px;
            left: 50%;
            margin-left: -110px;
            rotate: -30deg;
        }
    
        #smile-face {
            position: absolute;
            width: 50px;
            top: 120px;
            right: 50%;
            margin-right: -110px;
            rotate: 30deg;
        }

        p {
            font-size: v.$m-headercopy;
            font-weight: 700;
            line-height: 42px;
            color: v.$black;
        }
    }

    .feat-carousel-cont {
        padding: 60px;

        .f-carousel {
            gap: 40px;
        }
    }
    

    #tech-specs {
        padding-top: 50px;
        padding-bottom: 50px;

        h2 {
            font-size: v.$l-title;
            margin-bottom: 40px;
        }
    }

    #img-gallery {
    
        .img-group {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 20px;
    
            img {
                width: 260px;
                padding: 0;
            }
        }
    }
    

    #x-ray-cont {
        padding-top: 50px;
        padding-bottom: 50px;

        h2 {
            font-size: v.$m-title;
            margin-bottom: 40px;
        }
    }

}

@media screen and (min-width: 1200px) {
    #tech-specs {
        margin-top: 150px;
        margin-bottom: 100px;
        border-radius: 30px;
    }

    .feat-carousel-cont {
        padding: 60px;

        .f-carousel {
            gap: 60px;
        }
    }
    
}
